.highlight .c { color: #aaa; font-style: italic } /* Comment */
.highlight .ch { color: #aaa; font-style: italic } /* Comment.Hashbang */
.highlight .cm { color: #aaa; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #aaa } /* Comment.Preproc */
.highlight .cpf { color: #aaa; font-style: italic } /* Comment.PreprocFile */
.highlight .c1 { color: #aaa; font-style: italic } /* Comment.Single */

div.highlighter-rouge {
	 @include type-leader;
	 @include type-leader-clear;
}
